<div class="container">
  <div class="row">
    <div class="col-md-5 left-side">
      left-side
    </div>
    <div class="col-md-7 map-container">

      <div id="map"></div>
      <div id="infowindow-content">
        <span id="place-name" class="title"></span><br>
        Place ID <span id="place-id"></span><br>
        <span id="place-address"></span>
      </div>
      <div class="controls-around">
        <span>Enter Address to find a Party near you</span><input id="pac-input" class="controls" type="text"
          placeholder="Enter Address">
      </div>
    </div>
  </div>
</div>

<div class="middle">
  <div class="container middle-module">
    <div class="container">
      <div class="row middle-title">
        <h2>WHAT ABOUT WI-PARTY </h2><span>/ The organic block party App</span>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
          Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>

<script src="/js/googlemaps.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCauOYebxJITJGqbj_nxCGS3gdTP4WWcF4&sensor=false&libraries=places&language=en&callback=initMap"></script>